<!DOCTYPE html>
<html>
<head>
    <title>电影详情</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    {% load static %}
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="shortcut icon" href="/static/img/favicon.ico" type="image/x-icon"/>
    <link rel="stylesheet" href="/static/css/iconfont.css" type="text/css"/>
    <link rel="stylesheet" href="/static/css/stui_block.css" type="text/css"/>
    <link rel="stylesheet" href="/static/css/stui_block_color.css" type="text/css"/>
    <script type="text/javascript" src="/static/js/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/stui_default.js"></script>

    <script type="text/javascript" src="/static/js/home.js"></script>
    <link href="{% static '/css/bootstrap.css' %}" rel='stylesheet'>
    <script src="{% static '/js/jquery-3.6.0.js' %}"></script>
    <script src="{% static '/js/bootstrap.js' %}"></script>
    <script src="{% static '/js/axios.js' %}"></script>
    <script src="{% static '/js/vue.js' %}"></script>
    <script>var maccms = {
        "path": "",
        "mid": "1",
        "url": "www.4567kp.com",
        "wapurl": "m.4567kp.com",
        "mob_status": "1"
    };</script>
    <!--[if lt IE 9]>
    <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
    <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style>
#diany {
            width: 280px;
            height: 400px;

        }
#diany{
    margin: 0px;
    padding: 10px;
   width: 171.67px;
    height: 280.5px;
}
a:active{
    color: yellow;
}

    </style>

</head>
<body>
<div id="content">
    <input type="hidden" value="{{ moive_id }}" id="moive_id"/>
    <nav class="navbar navbar-expand-xl navbar-dark bg-dark">
        <div class="collapse navbar-collapse" id="navbarSupportedContent" style="font-size:18px;margin-left:10%">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'index'   %}">首页</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'select_fenlei'  1 %}">电影</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'select_fenlei'  2 %}">连续剧</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'select_fenlei'  3 %}">综艺</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'select_fenlei'  4 %}" tabindex="-1" aria-disabled="true">动漫</a>
                </li>
            </ul>
                <input class="form-control mr-sm-3" type="search" placeholder="搜索你感兴趣的电影或演员" aria-label="Search"
                       style="font-size:15px; width:250px;" v-model="sous">
                <button class="btn btn-outline-secondary my-2 my-sm-0" type="submit" style="font-size:15px" @click="sousmoivemesssage">搜索</button>
        </div>
    </nav>
    <font color="#007711">
        <div class="popup clearfix">
            <div class="popup-head bottom-line">
                <h5 class="title pull-right">全部分类</h5>
                <a href="javascript:;" class="close-popup">
                    <i class="icon iconfont icon-back"></i>
                </a>
            </div>
            <div class="popup-body col-pd">
                <ul class="tag tag-type">
                    <li><a href="/show/1-----------.html">电影</a></li>
                    <li><a href="/show/2-----------.html">连续剧</a></li>
                    <li><a href="/show/3-----------.html">综艺</a></li>
                    <li><a href="/show/4-----------.html">动漫</a></li>
                    <li><a href="/show/6-----------.html">动作片</a></li>
                    <li><a href="/show/7-----------.html">喜剧片</a></li>
                    <li><a href="/show/8-----------.html">爱情片</a></li>
                    <li><a href="/show/9-----------.html">科幻片</a></li>
                    <li><a href="/show/10-----------.html">恐怖片</a></li>
                    <li><a href="/show/11-----------.html">剧情片</a></li>
                    <li><a href="/show/12-----------.html">战争片</a></li>
                    <li><a href="/show/22-----------.html">动画片</a></li>
                    <li><a href="/show/25-----------.html">老电影</a></li>
                    <li><a href="/show/13-----------.html">国产剧</a></li>
                    <li><a href="/show/14-----------.html">港台剧</a></li>
                    <li><a href="/show/15-----------.html">日韩剧</a></li>
                    <li><a href="/show/16-----------.html">欧美剧</a></li>
                </ul>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <!-- 筛选 -->
                <div class="stui-pannel stui-pannel-bg clearfix">
                    <div class="stui-pannel-box">
                        <div class="stui-pannel_hd">
{#                            <ul class="stui-screen__list type-slide bottom-line-dot clearfix">#}
{#                                <li>#}
{#                                    <span class="text-muted">按类型</span>#}
{#                                </li>#}
{#                                <li class="active"><a @click.prevent="leix('全部')">全部</a></li>#}
{#                                <li><a  values="动作片" @click.prevent="leix('动作片')" class="text-muted" >动作片</a></li>#}
{#                                <li><a  @click.prevent="leix('喜剧片')" class="text-muted">喜剧片</a></li>#}
{#                                <li><a  @click.prevent="leix('爱情片')" class="text-muted">爱情片</a></li>#}
{#                                <li><a  @click.prevent="leix('科幻片')" class="text-muted">科幻片</a></li>#}
{#                                <li><a  @click.prevent="leix('恐怖片')" class="text-muted">恐怖片</a></li>#}
{#                                <li><a  @click.prevent="leix('剧情片')" class="text-muted">剧情片</a></li>#}
{#                                <li><a  @click.prevent="leix('战争片')" class="text-muted">战争片</a></li>#}
{#                                <li><a  @click.prevent="leix('动画片')" class="text-muted">动画片</a></li>#}
{##}
{#                            </ul>#}
                            <ul class="stui-screen__list type-slide bottom-line-dot clearfix">
                                <li>
                                    <span class="text-muted">按剧情</span>
                                </li>
                                <li class="active"><a @click.prevent="leix1('全部')">全部</a></li>
                                <li><a @click.prevent="leix1('剧情')">剧情</a></li>
                                <li><a @click.prevent="leix1('喜剧')">喜剧</a></li>
                                <li><a @click.prevent="leix1('动作')">动作</a></li>
                                <li><a @click.prevent="leix1('爱情')">爱情</a></li>
                                <li><a @click.prevent="leix1('科幻')">科幻</a></li>
                                <li><a @click.prevent="leix1('伦理')">伦理</a></li>
                                <li><a @click.prevent="leix1('悬疑')">悬疑</a></li>
                                <li><a @click.prevent="leix1('惊悚')">惊悚</a></li>
                                <li><a @click.prevent="leix1('恐怖')">恐怖</a></li>
                                <li><a @click.prevent="leix1('犯罪')">犯罪</a></li>
                                <li><a @click.prevent="leix1('同性')">同性</a></li>
                                <li><a @click.prevent="leix1('音乐')">音乐</a></li>
                                <li><a @click.prevent="leix1('歌舞')">歌舞</a></li>
                                <li><a @click.prevent="leix1('传记')">传记</a></li>
                            </ul>
                            <ul class="stui-screen__list type-slide bottom-line-dot clearfix">
                                <li>
                                    <span class="text-muted">按地区</span>
                                </li>
                                <li class="active"><a @click.prevent="leix2('全部')">全部</a></li>
                                <li><a @click.prevent="leix2('中国大陆')">中国大陆</a></li>
                                <li><a @click.prevent="leix2('美国')">美国</a></li>
                                <li><a @click.prevent="leix2('香港',)">香港</a></li>
                                <li><a @click.prevent="leix2('台湾')">台湾</a></li>
                                <li><a @click.prevent="leix2('日本')">日本</a></li>
                                <li><a @click.prevent="leix2('韩国')">韩国</a></li>
                                <li><a @click.prevent="leix2('英国')">英国</a></li>
                                <li><a @click.prevent="leix2('法国')">法国</a></li>
                                <li><a @click.prevent="leix2('德国')">德国</a></li>
                                <li><a @click.prevent="leix2('意大利')">意大利</a></li>
                                <li><a @click.prevent="leix2('西班牙')">西班牙</a></li>
                                <li><a @click.prevent="leix2('印度')">印度</a></li>
                                <li><a @click.prevent="leix2('泰国')">泰国</a></li>
                            </ul>
                            <ul class="stui-screen__list type-slide bottom-line-dot clearfix">
                                <li>
                                    <span class="text-muted">按年份</span>
                                </li>
                                <li class="active"><a @click.prevent="leix3('全部')">全部</a></li>
                                <li><a @click.prevent="leix3('2022')">2022</a></li>
                                <li><a @click.prevent="leix3('2021')">2021</a></li>
                                <li><a @click.prevent="leix3('2020')">2020</a></li>
                                <li><a @click.prevent="leix3('2019')">2019</a></li>
                                <li><a @click.prevent="leix3('2018')">2018</a></li>
                                <li><a @click.prevent="leix3('2017')">2017</a></li>
                                <li><a @click.prevent="leix3('2016')">2016</a></li>
                                <li><a @click.prevent="leix3('2015')">2015</a></li>
                                <li><a @click.prevent="leix3('2014')">2014</a></li>
                                <li><a @click.prevent="leix3('2013')">2013</a></li>
                                <li><a @click.prevent="leix3('2012')">2012</a></li>
                                <li><a @click.prevent="leix3('2011')">2011</a></li>
                                <li><a @click.prevent="leix3('2010')">2010</a></li>
                            </ul>
                            <ul class="stui-screen__list type-slide bottom-line-dot clearfix">
                                <li>
                                    <span class="text-muted">按语言</span>
                                </li>
                                <li class="active"><a @click.prevent="leix4('全部')">全部</a></li>
                                <li><a @click.prevent="leix4('国语')">国语</a></li>
                                <li><a @click.prevent="leix4('英语')" >英语</a></li>
                                <li><a @click.prevent="leix4('粤语')">粤语</a></li>
                                <li><a @click.prevent="leix4('韩语')">韩语</a></li>
                                <li><a @click.prevent="leix4('日语')">日语</a></li>
                                <li><a @click.prevent="leix4('法语')">法语</a></li>
                                <li><a @click.prevent="leix4('德语')">德语</a></li>
                                <li><a @click.prevent="leix4('汉语普通话')">汉语普通话</a></li>

                            </ul>
                        </div>
                    </div>
                </div>
                <!-- end 筛选 -->

                <div class="stui-pannel stui-pannel-bg clearfix">
                    <div class="stui-pannel-box">
                        <div class="stui-pannel_hd">
                            <div class="stui-pannel__head active bottom-line clearfix">
                                <ul class="nav nav-head">
                                    <li class="active"><a href="/show/1---time---------.html">按时间</a></li>
                                    <li><a href="/show/1---hits---------.html">按人气</a></li>
                                    <li><a href="/show/1---score---------.html">按评分</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="stui-pannel_bd">
                            <ul class="stui-vodlist clearfix">
                                {% verbatim myblock %}
                                    <li class="col-md-6 col-sm-4 col-xs-3" v-for="moive in moives" id="diany" style="height: 280px">
                                        <div class="stui-vodlist__box" >
                                            <a class="stui-vodlist__thumb lazyload"  @click.perevent="selectmoive(moive.id)"
                                               title="moive.title"
                                               :data-original="moive.img"
                                               :style="{backgroundImage: 'url('+moive.img+')'}"  >
                                                <span class="play hidden-xs"></span>
                                                <span class="pic-text text-right">HD</span>
                                            </a>
                                            <div class="stui-vodlist__detail">
                                                <h4 class="title text-overflow"><a @click.perevent="selectmoive(moive.id)"
                                                                                   :title="moive.title">{{ moive.title }}</a></h4>
                                                <p class="text text-overflow text-muted hidden-xs">
                                                    {{ moive.star}}</p>
                                            </div>
                                        </div>
                                    </li>
                                    </ul>
                                    </div></div>
                                    </div>
                                    </div>
                                    <!-- 翻页-->
                                {% endverbatim myblock %}
        </div>
        <ul class="stui-extra clearfix">
            <li>
                <a class="backtop" href="javascript:scroll(0,0)" style="display: none;"><i
                        class="icon iconfont icon-less"></i></a>
            </li>
            <li class="hidden-xs">
                <a class="copylink" href="javascript:;"><i class="icon iconfont icon-share"></i></a>
            </li>
            <li class="visible-xs">
                <a class="open-share" href="javascript:;"><i class="icon iconfont icon-share"></i></a>
            </li>
            <li>
                <a href="/gbook.html"><i class="icon iconfont icon-comments"></i></a>
            </li>
        </ul>

    </font>
<nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                <li class="page-item">
                    <button class="page-link" @click="shangyye"> 上一页</button>
                </li>
                <li class="page-item">
                    <button class="page-link" @click="xiayiye">下一页</button>
                </li>
            </ul>
        </nav>
</div>

</body>
<script>
    new Vue({
            el: "#content",
            data: {
                moives: [],
                sous:"",
                type:"",
                area:"",
                year:"",
                lanuage:""
            },
            methods: {
                shangyye: function () {
                    var moive_id = $("#moive_id").val()
                    var that = this
                    axios.get(
                        "http://127.0.0.1:9000/select_moiveid", {
                            params: {
                                moive_id: moive_id,
                                currpage: this.moives[0].currpage - 1,
                                 type:this.type,
                                area:this.area,
                                year:this.year,
                                lanuage:this.lanuage,
                            }
                        }
                    ).then(function (res) {

                            that.moives = res.data
                        }
                    ).catch(function (e) {
                        console.log(e)
                    })
                },
                 sousmoivemesssage:function () {
                window.location.href="/sousmoivemessage/?sous="+this.sous
                this.sous=""
        },
                xiayiye: function () {
                    var moive_id = $("#moive_id").val()
                    var that = this
                    axios.get(
                        "http://127.0.0.1:9000/select_moiveid", {
                            params: {
                                moive_id: moive_id,
                                currpage: this.moives[0].currpage + 1,
                                type:this.type,
                                area:this.area,
                                year:this.year,
                                lanuage:this.lanuage,
                            }
                        }
                    ).then(function (res) {

                            that.moives = res.data
                        }
                    ).catch(function (e) {
                        console.log(e)
                    })
                },
               leix: function (type,area,year,lanuage) {
                   {#console.log('xs')#}
                   {#debugger#}
                    this.type=type
                   this.area=area
                   this.year=year
                   this.lanuage=lanuage
                    var moive_id = $("#moive_id").val()
                    var that = this
                    axios.get(
                        "http://127.0.0.1:9000/select_moiveid", {
                            params: {
                                moive_id: moive_id,
                                type: type,
                                area:area,
                                year:year,
                                lanuage:lanuage,
                            },
                            sync:false
                        }
                    ).then(function (res) {
                            {#that.moives = res.data#}
                        that.moives=res.data
                        }
                    ).catch(function (e) {
                        console.log(e)
                    })

                },  leix3: function (year) {
                   {#console.log('xs')#}
                   {#debugger#}
                   this.year=year
                    var moive_id = $("#moive_id").val()
                    var that = this
                    axios.get(
                        "http://127.0.0.1:9000/select_moiveid", {
                            params: {
                                moive_id: moive_id,
                                type: this.type,
                                area:this.area,
                                year:this.year,
                                lanuage:this.lanuage,
                            },
                            sync:false
                        }
                    ).then(function (res) {
                            {#that.moives = res.data#}
                        that.moives=res.data
                        }
                    ).catch(function (e) {
                        console.log(e)
                    })

                },leix4: function (lanuage) {
                   {#console.log('xs')#}
                   {#debugger#}
                   this.lanuage=lanuage
                    var moive_id = $("#moive_id").val()
                    var that = this
                    axios.get(
                        "http://127.0.0.1:9000/select_moiveid", {
                            params: {
                                moive_id: moive_id,
                                type: this.type,
                                area:this.area,
                                year:this.year,
                                lanuage:this.lanuage,
                            },
                            sync:false
                        }
                    ).then(function (res) {
                            {#that.moives = res.data#}
                        that.moives=res.data
                        }
                    ).catch(function (e) {
                        console.log(e)
                    })

                },
                leix2: function (area) {
                   {#console.log('xs')#}
                   {#debugger#}
                   this.area=area
                    var moive_id = $("#moive_id").val()
                    var that = this
                    axios.get(
                        "http://127.0.0.1:9000/select_moiveid", {
                            params: {
                                moive_id: moive_id,
                                type: this.type,
                                area:this.area,
                                year:this.year,
                                lanuage:this.lanuage,
                            },
                            sync:false
                        }
                    ).then(function (res) {
                            {#that.moives = res.data#}
                        that.moives=res.data
                        }
                    ).catch(function (e) {
                        console.log(e)
                    })

                },
                 leix1: function (type) {
                   {#console.log('xs')#}
                   {#debugger#}
                   this.type=type
                    var moive_id = $("#moive_id").val()
                    var that = this
                    axios.get(
                        "http://127.0.0.1:9000/select_moiveid", {
                            params: {
                                moive_id: moive_id,
                                type: this.type,
                                area:this.area,
                                year:this.year,
                                lanuage:this.lanuage,
                            },
                            sync:false
                        }
                    ).then(function (res) {
                            {#that.moives = res.data#}
                        that.moives=res.data
                        }
                    ).catch(function (e) {
                        console.log(e)
                    })

                },

                 selectmoive: function (id) {
                window.location.href ="/selectmoiveid?id="+id
            },
            }, created: function () {
                var moive_id = $("#moive_id").val()
                var that = this
                axios.get(
                    "http://127.0.0.1:9000/select_moiveid", {
                        params: {
                            moive_id: moive_id
                        },
                    }
                ).then(function (res) {
                        that.moives = res.data
                    }
                ).catch(function (e) {
                    console.log(e)
                })
            }
        }
    )
</script>
<script>
    // li标签点击添加active效果
    $(function () {
        $("ul li").click(function() {
        $(this).siblings('li').removeClass('active');  // 删除其兄弟元素的样式
        $(this).addClass('active');// 为点击元素添加样式
});

    })


</script>
</html>
