<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>TOP250</title>
</head>
<style>
	.card{ margin:50px 0;}
</style>

<body>
<div>
	
    <!--导航栏-->
    
	<nav class="navbar navbar-expand-xl navbar-dark bg-dark" style="position:fixed; top:0; right:0;left:0; z-index:999">
      <a class="navbar-brand" href="#">电影世界&nbsp;<img src="photo/电影.png" width="30" height="30"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent" style="font-size:18px;">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="主页.html">首页</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">分类</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="#">TOP250</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="热门影评.html">热门影评</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              VIP
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">了解会员特权</a>
              <a class="dropdown-item" href="#">领取VIO会员福利</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">续费会员</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link " href="#" tabindex="-1" aria-disabled="true">联系客服</a>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-3" type="search" placeholder="搜索你感兴趣的电影或演员" aria-label="Search" style="font-size:15px; width:250px;">
          <button class="btn btn-outline-secondary my-2 my-sm-0" type="submit" style="font-size:15px">搜索</button>
        </form>
      </div>
    </nav>
    
    
    
    <!--内容-->
    <div style="margin:150px 100px 100px">
        <div class="card mb-3" style=" width:auto; ">
          <div class="row no-gutters">
            <div class="col-md-2">
              <img src="photo/列1.JPG" class="card-img" alt="..." height="330px" >
            </div>
            <div class="col-md-10">
              <div class="card-body">
                <h5 class="card-title">肖申克的救赎</h5>
                <p class="card-text"></p>
                <p class="card-text"><small class="text-muted">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;故事发生在1947年，银行家安迪（Andy）被指控枪杀了妻子及其情人，安迪被判无期徒刑，这意味着他将在肖申克监狱中渡过余生。<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;瑞德（Red）1927年因谋杀罪被判无期徒刑，数次假释都未获成功。他成为了肖申克监狱中的“权威人物”，只要你付得起钱，他几乎有办法搞到任何你想要的东西：香烟、糖果、酒，甚至是大麻。每当有新囚犯来的时候，大家就赌谁会在第一个夜晚哭泣。瑞德认为弱不禁风、书生气十足的安迪一定会哭，结果安迪的沉默使他输掉了两包烟，但同时也使瑞德对他另眼相看.<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;很长时间以来，安迪不和任何人接触，在大家抱怨的同时，他在院子里很悠闲地散步，就像在公园里一样。一个月后，安迪请瑞德帮他搞的第一件东西是一把小的鹤嘴锄，他的解释是他想雕刻一些小东西以消磨时光...</small></p>
              </div>
            </div>
          </div>
        </div>
        
        <div class="card mb-3" style=" width:auto; ">
          <div class="row no-gutters">
            <div class="col-md-10">
              <div class="card-body">
                <h5 class="card-title">霸王别姬</h5>
                <p class="card-text"><small class="text-muted">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1924年冬天，9岁的小豆子被作妓女的母亲切掉左手上那根畸形的指头后进入关家戏班学戏。戏班里只有师兄小石头同情关照小豆子。十年过去了，在关师父严厉和残酷的训导下，师兄二人演技很快提高，小豆子取艺名程蝶衣（张国荣饰），演旦角；小石头取艺名段小楼（张丰毅饰），演生角。俩人合演的《霸王别姬》誉满京城，师兄二人也红极一时。二人约定合演一辈子《霸王别姬》。<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;段小楼娶妓女菊仙（巩俐饰）为妻，依恋着师兄的蝶衣，心情沉重地来到师兄住处，把他用屈辱换来的、师兄向往已久的名贵宝剑赠给小楼，并决定不再与小楼合演《霸王别姬》。<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;在关师傅的召唤下，师兄二人再次合作。抗战结束后，两人被迫给一群无纪律无素质的国军士兵唱戏，段小楼与士兵冲突，混乱中菊仙...</small></p>
              </div>
            </div>
            
            <div class="col-md-2">
              <img src="photo/列2.JPG" class="card-img" alt="..." height="330px" >
            </div>
          </div>
        </div>
        <div class="card mb-3" style=" width:auto; ">
          <div class="row no-gutters">
            <div class="col-md-2">
              <img src="photo/列3.JPG" class="card-img" alt="..." height="330px" >
            </div>
            <div class="col-md-10">
              <div class="card-body">
                <h5 class="card-title">阿甘正传</h5>
                <p class="card-text"><small class="text-muted">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;阿甘是个智商只有75的低能儿。在学校里为了躲避别的孩子的欺侮，听从一个朋友珍妮的话而开始“跑”。他跑着躲避别人的捉弄。在中学时，他为了躲避别人而跑进了一所学校的橄榄球场，就这样跑进了大学。阿甘被破格录取，并成了橄榄球巨星，受到了肯尼迪总统的接见。<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;在大学毕业后，阿甘又应征入伍去了越南。在那里，他有了两个朋友：热衷捕虾的布巴和令人敬畏的长官邓·泰勒上尉。这时，珍妮已经堕落，过着放荡的生活。阿甘一直爱着珍妮，但珍妮却不爱他。在战争结束后，阿甘作为英雄受到了约翰逊总统的接见。在一次和平集会上，阿甘又遇见了珍妮，两人匆匆相遇又匆匆分手。在“说到就要做到”这一信条的指引下，阿甘最终闯出了一片属于自己的天空。在他的生活中，他结识了许多美国的名人。他告发了水门事件的窃听者，作为美国乒乓球队的一员到了中国，为中美建交立下了功劳。猫王和约翰·列侬...</small></p>
              </div>
            </div>
          </div>
        </div>
        <div class="card mb-3" style=" width:auto; ">
          <div class="row no-gutters">
            <div class="col-md-10">
              <div class="card-body">
                <h5 class="card-title">这个杀手不太冷</h5>
                <p class="card-text"><small class="text-muted">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;纽约贫民区住着一个意大利人，名叫莱昂（让·雷诺饰），他是一名职业杀手。一天，邻居家小姑娘玛蒂尔达（娜塔莉·波特曼饰）敲开了他的房门，要求在他这里暂避杀身之祸。原来，邻居家的主人是警察的眼线，因贪污了一小包毒品而遭到恶警史丹菲尔（加里·奥德曼饰）剿灭全家的惩罚。玛蒂尔达得到莱昂的救助，开始帮莱昂管理家务并教其识字，莱昂则教女孩用枪，两人相处融洽。并且在他们之间还产生了一种奇妙的化学反应：爱情。女孩跟踪史丹菲尔，贸然去报仇，不小心被抓。莱昂及时赶到，将女孩救回。<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;他们再次搬家，但女孩还是落入史丹菲尔之手。莱昂撂倒一片警察，再次救出女孩并让她通过通风管道逃生，并嘱咐她去把他积攒的钱取出来。莱昂则化装成警察试图混出包围...</small></p>
              </div>
            </div>
            <div class="col-md-2">
              <img src="photo/列4.JPG" class="card-img" alt="..." height="330px" >
            </div>
          </div>
        </div>
        <div class="card mb-3" style=" width:auto; ">
          <div class="row no-gutters">
            <div class="col-md-2">
              <img src="photo/列5.JPG" class="card-img" alt="..." height="330px">
            </div>
            <div class="col-md-10">
              <div class="card-body">
                <h5 class="card-title">美丽人生</h5>
                <p class="card-text"><small class="text-muted">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1939年，第二次世界大战的阴云笼罩着整个意大利。圭多是一个外表看似笨拙，但心地善良憨厚而且生性乐观的犹太青年。他对生活充满了美好的向往。他和好友菲鲁乔驾着一辆破车从乡间来到阿雷佐小镇，他的愿望是在小镇开一家属于自己的书店，过上与世无争的安逸生活。<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;途经一座谷仓塔楼时，年轻漂亮的姑娘多拉突然从塔楼上跌落到他的怀中，原来塔楼上有个黄蜂窝，黄蜂经常骚扰当地居民...</small></p>
              </div>
            </div>
          </div>
        </div>
        <div class="card mb-3" style=" width:auto; ">
          <div class="row no-gutters">
            <div class="col-md-10">
              <div class="card-body">
                <h5 class="card-title">泰坦尼克号</h5>
                
                <p class="card-text"><small class="text-muted">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1912年4月10日，号称 “世界工业史上的奇迹”的豪华客轮泰坦尼克号开始了自己的处女航，从英国的南安普顿出发驶往美国纽约。富家少女罗丝（凯特·温丝莱特饰）与母亲及未婚夫卡尔坐上了头等舱；另一边，放荡不羁的少年画家杰克（莱昂纳多·迪卡普里奥饰）也在码头的一场赌博中赢得了下等舱的船票...</small></p>
              </div>
            </div>
            <div class="col-md-2">
              <img src="photo/列6.JPG" class="card-img" alt="..." height="330px" >
            </div>
          </div>
        </div>
        <div class="card mb-3" style=" width:auto; ">
          <div class="row no-gutters">
            <div class="col-md-2">
              <img src="photo/列7.JPG" class="card-img" alt="..." height="330px" >
            </div>
            <div class="col-md-10">
              <div class="card-body">
                <h5 class="card-title">千与千寻</h5>
                <p class="card-text"><small class="text-muted">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;10岁的少女千寻与父母一起从都市搬家到了乡下。没想到在搬家的途中，一家人发生了意外。他们进入了汤屋老板魔女控制的奇特世界——在那里不劳动的人将会被变成动物。千寻的爸爸妈妈因贪吃变成了猪，千寻为了救爸爸妈妈经历了很多磨难，在期间她遇见了白龙，一个既聪明又冷酷的少年，在经历了很多事情之后，千寻最后救出了爸爸妈妈，拯救了白龙。</small></p>
              </div>
            </div>
          </div>
        </div>
        <div class="card mb-3" style=" width:auto; ">
          <div class="row no-gutters">
            <div class="col-md-10">
              <div class="card-body">
                <h5 class="card-title">辛德勒的名单</h5>
                <p class="card-text"><small class="text-muted">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;德国投机商人辛德勒（连姆·尼森饰）是个纳粹党党员。他好女色，会享受，是地方上有名的纳粹中坚分子。他善于利用与关系攫取最大的利润。在被占领的波兰，犹太人是最便宜的劳工。因此，辛德勒的工厂只使用犹太人。然而这些人得到这份工作也就得到了暂时的安全，作为战争产品的生产者而免受屠杀。辛德勒的工厂成了犹太人的避难所...</small></p>
              </div>
            </div>
            <div class="col-md-2">
              <img src="photo/列8.JPG" class="card-img" alt="..." height="330px">
            </div>
          </div>
        </div>
       </div>
       <nav aria-label="Page navigation example">
          <ul class="pagination justify-content-center">
            <li class="page-item disabled">
             
            </li>
            <li class="page-item"><a class="page-link" href="排行榜.html">1</a></li>
            <li class="page-item"><a class="page-link" href="排行榜 1.html">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
             
            </li>
          </ul>
        </nav>
     </div>
     
    
</div>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.4.1/dist/jquery.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>

</html>
