<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>热门影评</title>
    <style>
    	.media img{ height:50px;width:50px; border-radius:100px;}
		.card{ margin-top:50px;}
		
    </style>
    
    
</head>

<body>
	

	<nav class="navbar navbar-expand-xl navbar-dark bg-dark" style="position:fixed; top:0; right:0;left:0; z-index:99;" >
      <a class="navbar-brand" href="#">电影世界&nbsp;<img src="photo/电影.png" width="30" height="30"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent" style="font-size:18px;">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item ">
            <a class="nav-link" href="主页.html">首页</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">分类</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="排行榜.html">TOP250</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="热门影评.html">热门影评</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              VIP
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">了解会员特权</a>
              <a class="dropdown-item" href="#">领取VIO会员福利</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">续费会员</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" tabindex="-1" aria-disabled="true">联系客服</a>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-3" type="search" placeholder="搜索你感兴趣的电影或演员" aria-label="Search" style="font-size:15px; width:250px;">
          <button class="btn btn-outline-secondary my-2 my-sm-0" type="submit" style="font-size:15px">搜索</button>
        </form>
      </div>
    </nav>
    
    <div class="jumbotron jumbotron-fluid text-light" style="background:url(photo/%E8%83%8C2.png); background-size:cover; height:450px">
          <div class="container" style="margin-top:200px;">
              <h3 class="display-4" >在这里留下你的足迹</h3>
          </div>
    </div>

    <div style="margin:100px 100px 100px;">
       
        
        <div class="card ">
          <div class="card-header bg-light">
            <div class="media">
              <img src="photo/头像10.png" class="align-self-center mr-3" alt="...">
              <div class="media-body">
                <h5 class="mt-0">王小二</h5>
                
              </div>
            </div>    	
          </div>
          <div class="card-body">
            <h5 class="card-title">阿甘的爱情</h5>
            <p class="card-text">一个南阿拉巴马州的傻子阿甘，一辈子喜欢的一个女人就是珍妮，从小到大阿甘和珍妮就是好朋友，他们一起上学，一起长大，最后虽然相隔很远但是阿甘始终爱着珍妮，不管她做什么，不管她是谁，不管她变得多老多丑，不管她身在何方，阿甘始终在哪个南阿拉巴马的家里，日夜思念他的姑娘，日夜等待着珍妮的归来。这就是阿甘，这就是他的爱情，这就是他的珍妮...&nbsp;&nbsp;<a href="#">点击展开</a></p>
            <a href="#" class="btn btn-primary" style="float:right;">阿甘正传</a>
          </div>
        </div>    
        
        <div class="card">
          <div class="card-header">
            <div class="media">
              <img src="photo/头像9.png" class="align-self-center mr-3" alt="...">
              <div class="media-body">
                <h5 class="mt-0">kk</h5>
                
              </div>
            </div>    	
          </div>
          <div class="card-body">
            <h5 class="card-title">飘飘，我来教你怎样拥抱</h5>
            <p class="card-text">有人说，《喜剧之王》这部电影，小时候看觉得是喜剧，现在看来是悲剧。周星驰曾说：“我以为我拍了很多悲剧，可是拍出来你们都觉得那是喜剧。”是啊，如果有一天小丑哭了，你会不会觉得他在搞笑。天仇跟那个喜欢扭头的导演讨论“死人”的内心活动，因为“不肯死”而被娟姐骂的狗血淋头。观众在影片前捧腹大笑，可这一切都是真的啊。周星驰曾经在《射雕英雄传》中饰演的角色是被梅超风一掌打死，他去找副导演商量可不可以第二掌再死，多么迫切的想要改变那一秒钟的命运...&nbsp;&nbsp;<a href="#">点击展开</a></p>
            <a href="#" class="btn btn-primary" style="float:right;">喜剧之王</a>
          </div>
        </div>
        <div class="card">
          <div class="card-header">
            <div class="media">
              <img src="photo/头像8.png" class="align-self-center mr-3" alt="...">
              <div class="media-body">
                <h5 class="mt-0">天蓬元帅</h5>
                
              </div>
            </div>    	
          </div>
          
          <div class="card-body">
            <h5 class="card-title">罗生门</h5>
            <p class="card-text">黑泽明的《罗生门》，人性中赤裸裸的软弱和谎言。1950年的片子。黑白，粗糙，淳朴。直入人心。 已经是第三次看。依然震撼，毫无厌倦。同时，看到更多的一些东西。 一间破殿，陈旧的牌匾，一场大雨，一个故事。人性就如此丑陋地被呈现出来。 黑泽明的手法独特有力。借着樵夫...&nbsp;&nbsp;<a href="#">点击展开</a></p>
            <a href="#" class="btn btn-primary" style="float:right;">罗生门</a>
          </div>
        </div>           
        
        <div class="card">
          <div class="card-header">
            <div class="media">
              <img src="photo/头像7.png" class="align-self-center mr-3" alt="...">
              <div class="media-body">
                <h5 class="mt-0">福乐小哥</h5>
                
              </div>
            </div>    	
          </div>
          <div class="card-body">
            <h5 class="card-title">孩子们，世界很好，你们还好吗？</h5>
            <p class="card-text">影片改编自真实事件。 穿过幽暗狭长的隧道，便是雾津。漫天浓郁的雾气，两条刚刚失去，尸体还温热的生命，还有那块绿色的交通指示牌，无声地告诉姜仁浩：雾津欢迎你。 也许每个生命来到这个世界上本来应该是平等的。如今似乎人们已经达成了某种共识，那就是那句仿佛是刻在亘古...&nbsp;&nbsp;<a href="#">点击展开</a></p>
            <a href="#" class="btn btn-primary" style="float:right;">熔炉</a>
          </div>
        </div>
        
        <div class="card">
          <div class="card-header">
            <div class="media">
              <img src="photo/头像6.png" class="align-self-center mr-3" alt="...">
              <div class="media-body">
                <h5 class="mt-0">老谭胡说</h5>
                
              </div>
            </div>    	
          </div>
          <div class="card-body">
            <h5 class="card-title">安息吧，我尊敬的教父</h5>
            <p class="card-text">我最爱的电影是《教父》。在这一点上，我可以同许多男人达成共识。马龙的表演实在令人心折。在少年时代，我深深着迷，甚至模仿他那含混不清的说话方式，却并不成功。一个平凡的小人物，喊破了嗓子也找不到认真的听众，那个口齿不清的教父，却没人敢忽略他说出的每一个字。他总...&nbsp;&nbsp;<a href="#">点击展开</a></p>
            <a href="#" class="btn btn-primary" style="float:right;">教父</a>
          </div>
        </div>
        
        <div class="card">
          <div class="card-header">
            <div class="media">
              <img src="photo/头像5.png" class="align-self-center mr-3" alt="...">
              <div class="media-body">
                <h5 class="mt-0">在下哲别</h5>
                
              </div>
            </div>    	
          </div>
          <div class="card-body">
            <h5 class="card-title">怦然，但是不仅仅是心动</h5>
            <p class="card-text">一连看了两遍《怦然心动》，真的是怦然心动。一对小孩，一棵树，特别简单的故事，讲得荡气回肠。我感触最深的一点是：女生十来岁就有超脱的自省意识，审视自己爱的人到底值不值得爱。一旦触及她的自尊，立刻决定放弃这个男生。我们文化里的“爱”，似乎都要低到尘埃里，舍弃自...&nbsp;&nbsp;<a href="#">点击展开</a></p>
            <a href="#" class="btn btn-primary" style="float:right;">怦然心动</a>
          </div>
        </div>
        
        <div class="card">
          <div class="card-header">
            <div class="media">
              <img src="photo/头像4.png" class="align-self-center mr-3" alt="...">
              <div class="media-body">
                <h5 class="mt-0">amazong</h5>
                
              </div>
            </div>    	
          </div>
          <div class="card-body">
            <h5 class="card-title">多年后重看，发现第二第三部以前完全没看懂</h5>
            <p class="card-text">实际上，Zion同样是一个虚拟的系统，我将它称为Zion世界或Zion系统。而不是什么real world。仔细研究Neo和创造者Architect的对话，你会发现导演已经把这个事实交代的清清楚楚了。 Neo正是从单手挡乌贼开始怀疑Zion世界的真实性的，所以他见到先知Oracle的第一个问题就问挡乌贼...&nbsp;&nbsp;<a href="#">点击展开</a></p>
            <a href="#" class="btn btn-primary" style="float:right;">黑客帝国</a>
          </div>
        </div>
        
        <div class="card">
          <div class="card-header">
            <div class="media">
              <img src="photo/头像3.png" class="align-self-center mr-3" alt="...">
              <div class="media-body">
                <h5 class="mt-0">帅soserious</h5>
                
              </div>
            </div>    	
          </div>
          <div class="card-body">
            <h5 class="card-title">盛赞《猫鼠游戏》</h5>
            <p class="card-text">虽然可能看的有点晚 但实在非常精彩 这世上真的有人那么的聪明 把谎话说的比真话真 还要镇定自若 相比之下汤姆汉克斯那只能算勤奋了 两个聪明人的较量 喜欢他的爸爸 那么的坚定和乐观 对儿子的爱 虽然有些纵容 但看他好不容易逃出去却看见他妈妈的幸福生活 挺辛酸的 看完以后真...&nbsp;&nbsp;<a href="#">点击展开</a></p>
            <a href="#" class="btn btn-primary" style="float:right;">猫鼠游戏</a>
          </div>
        </div>
        
    </div>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.4.1/dist/jquery.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>

</html>
